asgiref==3.11.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
crispy-bootstrap5==2026.3
cryptography==46.0.3
Django==4.2.27
django-allauth==65.13.1
django-crispy-forms==2.5
django-environ==0.14.0
django-jazzmin==3.0.1
django-ratelimit==4.1.0
greenlet==3.2.4
idna==3.11
pillow==11.3.0
playwright==1.57.0
psycopg2-binary==2.9.12
pycparser==2.23
pyee==13.0.0
PyJWT==2.10.1
python-dotenv==1.2.1
reportlab==4.4.7
requests==2.32.5
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.2
